.table {
    background-color: #cdffea;
    width: 1000px;
    height: 800px;
    text-align: center;
    border: none;
}

.table__cell {
    border: 1px solid gray;
    width: 50px;
    height: 60px;

}

.table__title {
    font-family: Futura;
    font-weight: bold;
    color: gray;
}