&__row-cell-street-header {
  display: flex;
  height: 50px;

  padding: 10px;
  border-bottom: 1px solid black;

  @import "field__row-cell-street-header_yellow";

  @import "field__row-cell-street-header_purple";

  @import "field__row-cell-street-header_red";

  @import "field__row-cell-street-header_red";

  @import "field__row-cell-street-header_broun";

  @import "field__row-cell-street-header_orange";

  @import "field__row-cell-street-header_pink";

  @import "field__row-cell-street-header_blue";

  @import "field__row-cell-street-header_green";
}